<div class="row">
    <div class="columns">
        <div class="column">
            <div  style="cursor: pointer;"class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        Stock(Medicines)
                    </p>
                </header>
                <div class="card-content">
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.</p>

                        <p>sabout medicine emp</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        Beds
                    </p>
                </header>
                <div class="card-content">
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.</p>

                        <p>so many beds emp</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">

            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        Ward
                    </p>
                </header>
                <div class="card-content">
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.</p>

                        <p>so many wards emp</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>