<div class="row">
    <div class="columns">
        <div class="column is-one-third">
            <article class="panel is-info">
                <p class="panel-heading">
                    Patients
                </p>
                <br>
                <p class="panel-tabs">
                    <a class="is-active">All</a>
                    <a>Public</a>
                    <a>Private</a>
                    <a>Sources</a>
                    <a>Forks</a>
                </p>
                <div class="panel-block">
                    <p class="control has-icons-left">
                        <input class="input is-info" type="text" placeholder="Search">
                        <span class="icon is-left">
                            <i class="ri-search-2-line" aria-hidden="true"></i>
                        </span>
                    </p>
                </div>

                <div class="panel-block">
                    <div class="rows">
                        <div class="row">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th><abbr title="Position">Pos</abbr></th>
                                        <th>Team</th>
                                        <th><abbr title="Played">Pld</abbr></th>
                                        <th><abbr title="Won">W</abbr></th>
                                        <th><abbr title="Drawn">D</abbr></th>
                                        <th><abbr title="Lost">L</abbr></th>
                                        <th><abbr title="Goals for">GF</abbr></th>
                                        
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th><abbr title="Position">Pos</abbr></th>
                                        <th>Team</th>
                                        <th><abbr title="Played">Pld</abbr></th>
                                        <th><abbr title="Won">W</abbr></th>
                                        <th><abbr title="Drawn">D</abbr></th>
                                        <th><abbr title="Lost">L</abbr></th>
                                        <th><abbr title="Goals for">GF</abbr></th>
                                        
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <tr>
                                        <th>1</th>
                                        <td><a href="https://en.wikipedia.org/wiki/Leicester_City_F.C."
                                                title="Leicester City F.C.">Leicester City</a> <strong>(C)</strong>
                                        </td>
                                        <td>38</td>
                                        <td>23</td>
                                        <td>12</td>
                                        <td>3</td>
                                        <td>68</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <hr>
                        <div class="row">
                            <nav class="pagination" role="navigation" aria-label="pagination">
                                <a class="pagination-previous">Previous</a>
                                <a class="pagination-next">Next page</a>
                                <ul class="pagination-list">
                                  <li>
                                    <a class="pagination-link" aria-label="Goto page 1">1</a>
                                  </li>
                                  <li>
                                    <span class="pagination-ellipsis">&hellip;</span>
                                  </li>
                                  <li>
                                    <a class="pagination-link" aria-label="Goto page 45">45</a>
                                  </li>
                                  <li>
                                    <a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a>
                                  </li>
                                  <li>
                                    <a class="pagination-link" aria-label="Goto page 47">47</a>
                                  </li>
                                  <li>
                                    <span class="pagination-ellipsis">&hellip;</span>
                                  </li>
                                  <li>
                                    <a class="pagination-link" aria-label="Goto page 86">86</a>
                                  </li>
                                </ul>
                              </nav>
                        </div>
                    </div>
                    

                </div>


            </article>
        </div>
        <div class="column">
            <app-patient></app-patient>
        </div>
    </div>
</div>