<div class="row">
    <div class="columns">
        <div class="column is-two-fifths">
            <article class="panel is-info">
                <p class="panel-heading">
                    Patients
                </p>
                <br>
                <div class="panel-block">
                    <div class="row">
                        <div class="columns">
                            <div class="column is-11">
                                <p class="control has-icons-left">
                                    <input class="input is-info" type="search"  placeholder="Search by Patient's {{searchByName ? ' Name':'Id'}}" [(ngModel)]=searchField>
                                    <span class="icon is-left">
                                        <i class="ri-search-2-line" aria-hidden="true"></i>
                                    </span>
                                </p>
                            </div>
                            
                            <div class="column is-1">
                                <div class="dropdown is-hoverable">
                                    <div class="dropdown-trigger">
                                        <button class="button" aria-haspopup="true">
                                            <span>Search By</span>
                                            <span class="icon is-small">
                                                <i class="ri-arrow-drop-down-line" aria-hidden="true"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                        <div class="dropdown-content" style="width: fit-content;">
                                            <div class="dropdown-item">
                                                <a (click)="searchBy(1)">Patient's Name</a>
                                            </div>
                                            <div class="dropdown-item">
                                                <a (click)="searchBy(2)">Patient's Id</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="panel-block">
                    <div class="rows">
                        <div class="row">
                            <table class="table is-fullwidth is-stripped">
                                <thead>
                                    <tr>
                                        <th>Pos</th>
                                        <th>Name</th>
                                        <th>Gender</th>
                                        <th>Father's Name</th>
                                        <th>ID</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let p of patients | filter : searchField :(searchByName?1:2); let i=index;">
                                        <td>{{i}}</td>
                                        <td><a (click)="RowSelected(p)"> {{p.name}} ({{p.age}})</a></td>
                                        <td>{{p.gender}}</td>
                                        <td>{{p.fathersName}}</td>
                                        <td>{{p.id}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <hr>
                        <div class="row">
                            <nav class="pagination" role="navigation" aria-label="pagination">
                                <a class="pagination-previous">Previous</a>
                                <a class="pagination-next">Next page</a>
                                <ul class="pagination-list">
                                    <li>
                                        <a class="pagination-link" aria-label="Goto page 1">1</a>
                                    </li>
                                    <li>
                                        <span class="pagination-ellipsis">&hellip;</span>
                                    </li>
                                    <li>
                                        <a class="pagination-link" aria-label="Goto page 45">45</a>
                                    </li>
                                    <li>
                                        <a class="pagination-link is-current" aria-label="Page 46"
                                            aria-current="page">46</a>
                                    </li>
                                    <li>
                                        <a class="pagination-link" aria-label="Goto page 47">47</a>
                                    </li>
                                    <li>
                                        <span class="pagination-ellipsis">&hellip;</span>
                                    </li>
                                    <li>
                                        <a class="pagination-link" aria-label="Goto page 86">86</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>


                </div>


            </article>
        </div>
        <div class="column">
            <app-patient #patient></app-patient>
        </div>
    </div>
</div>