<div class="row">
    <div class="columns">
        <div class="column is-one-third">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui eius quia soluta fugiat laboriosam molestias
            placeat
            atque, voluptatem alias recusanda
            e blanditiis distinctio perferendis asperiores sed consequuntur explicabo illo animi sapiente.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quae dolore quidem distinctio natus alias
            explicabo
            enim maxime? Ulla
            m dolores ipsum, odio officiis debitis odit amet hic numquam minus consequatur.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus exercitationem quo similique sit tempora
            vitae,
            maiores soluta ad voluptatibus incidunt deleniti. Sed exercitatione
            m natus modi facere recusandae minus eos id?
            amet consectetur, adipisicing elit. Qui eius quia soluta fugiat laboriosam molestias placeat atque,
            voluptatem
            alias
            recusanda
            e blanditiis distinctio perferendis asperiores sed consequuntur explicabo illo animi sapiente.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quae dolore quidem distinctio natus alias
            explicabo
            enim maxime? Ulla
            m dolores ipsum, odio officiis debitis odit amet hic numquam minus consequatur.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus exercitationem quo similique sit tempora
            vitae,
            m dolores ipsum, odio officiis debitis odit amet hic numquam minus consequatur.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus exercitationem quo similique sit tempora
            vitae,
            maiores soluta ad voluptatibus incidunt deleniti. Sed exercitatione
            m natus modi facere recusandae minus eos id?
            amet consectetur, adipisicing elit. Qui eius quia soluta fugiat laboriosam molestias placeat atque,
            voluptatem
            alias
            recusanda
            e blanditiis distinctio perferendis asperiores sed consequuntur explicabo illo animi sapiente.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quae dolore quidem distinctio natus alias
            explicabo
            enim maxime? Ulla
            m dolores ipsum, odio officiis debitis odit amet hic numquam minus consequatur.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus exercitationem quo similique sit tempora
            vitae,
            maiores soluta ad voluptatibus incidunt deleniti. Sed exercitatione
            m natus modi facere recusandae minus eos id?
            amet consectetur, adipisicing elit. Qui eius quia soluta fugiat laboriosam molestias placeat atque,
            voluptatem
            alias
            recusanda
            e blanditiis distinctio perferendis asperiores sed consequuntur explicabo illo animi sapiente.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quae dolore quidem distinctio natus alias
            explicabo
            enim maxime? Ulla
            m dolores ipsum, odio officiis debitis odit amet hic numquam minus consequatur.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus exercitationem quo similique sit tempora
            vitae,
            maiores soluta ad voluptatibus incidunt deleniti. Sed exercitatione
            m natus modi facere recusandae minus eos id?
            amet consectetur, adipisicing elit. Qui eius quia soluta fugiat laboriosam molestias placeat atque,
            voluptatem
            alias
            recusanda
            e blanditiis distinctio perferendis asperiores sed consequuntur explicabo illo animi sapiente.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quae dolore quidem distinctio natus alias
            explicabo
            enim maxime? Ulla
            m dolores ipsum, odio officiis debitis odit amet hic numquam minus consequatur.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus exercitationem quo similique sit tempora
            vitae,
            maiores soluta ad voluptatibus incidunt deleniti. Sed exercitatione
            m natus modi facere recusandae minus eos id?
            amet consectetur, adipisicing elit. Qui eius quia soluta fugiat laboriosam molestias placeat atque,
            voluptatem
            alias
            recusanda
            e blanditiis distinctio perferendis asperiores sed consequuntur explicabo illo animi sapiente.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quae dolore quidem distinctio natus alias
            explicabo
            enim maxime? Ulla
            m dolores ipsum, odio officiis debitis odit amet hic numquam minus consequatur.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus exercitationem quo similique sit tempora
            vitae,
            maiores soluta ad voluptatibus incidunt deleniti. Sed exercitatione
            m natus modi facere recusandae minus eos id?
        </div>
        <div class="column">
            <router-outlet></router-outlet>

        </div>
    </div>
</div>