<div class="card">
    <div class="card-header">
        <p class=card-header-title>Patient Details</p>
    </div>
    <div class="card-content">
        <div class="rows">
            <div class="columns">
                <div class="column is-5">
                    <p>Name: {{firstName}}{{lastName}}</p>
                </div>
                <div class="column is-4">
                    <p> Gender :{{gender}}</p>
                </div>
                <div class="column is-3">
                    <p>Age :{{age}}</p>
                </div>
            </div>
            <br>
            <div class="columns">
                <div class="column is-5">

                    <p>Mobile Number :{{mobileNumber}}</p>

                </div>
                <div class="column is-4">

                    <p>Patient Id: {{patientId}}</p>

                </div>
                <div class="column is-3">

                    <p>Ward Allotted: {{wardAlloted}}</p>

                </div>
            </div>
            <br>

            <div class="columns">
                <div class="column">

                    <p>Patient Address :some big address to show here as well sdof sdfnvoasdifsldf;sgh</p>

                </div>
            </div>
            <hr>
            <div class="columns">
                <div class="column">
                    <label>
                        Doctors Alloted:
                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="font-weight: normal;">Doctor's Name</th>
                                    <th style="font-weight: normal;">Date Alloted</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>random doctor</td>
                                    <td>on 8th june</td>
                                </tr>
                            </tbody>
                        </table>
                    </label>

                </div>
                <div class="column">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="font-weight: normal;">Disease Types</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{diseaseTypes}}</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <hr>
            <div class="columns">
                <div class="column">
                    <label>
                        Bills:
                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="font-weight: normal;">Bill Type</th>
                                    <th style="font-weight: normal;">Bill Amount</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>medicine</td>
                                    <td>2345</td>
                                </tr>
                            </tbody>
                        </table>
                    </label>
                </div>
                <div class="column">
                    <label>
                        Payments Made:
                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="font-weight: normal;">Payment Date</th>
                                    <th style="font-weight: normal;">Amount</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>on 6 nov</td>
                                    <td>4550</td>
                                </tr>
                            </tbody>
                        </table>
                    </label>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <label>
                        Due payment:
                        <p>56543 </p>
                    </label>
                </div>
            </div>
            <br>
            <hr>
            <div class="columns">
                <div class="column">
                    <div class="buttons">
                        <button class="button is-info" (click)="toggleModal()">Edit Details</button>
                        <button class="button is-info" (click)="toggleBillModal()">Add a Bill</button>
                        <button class="button is-info" (click)="makePayment()">Add a Payment</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- model starts -->
<div class="modal" [ngClass]="{ 'is-active' : isModalActive }">
    <div class="modal-background" (click)="toggleModal()"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Edit Patient Details</p>
            <button class="delete" aria-label="close" (click)="toggleModal()"></button>
        </header>
        <section class="modal-card-body">
            <!-- Content ... -->
            here is modal body
            <!-- content ends -->
        </section>
        <footer class="modal-card-foot">
            <button class="button is-success" type="submit" (click)="savePatientDetails()">Save Details</button>
            <button class="button" (click)="toggleModal()">Cancel</button>
        </footer>
    </div>
</div>
<!-- edit patient modal ends  -->

<!-- mAdd bill odel starts -->
<div class="modal" [ngClass]="{ 'is-active' : isBillModalActive }">
    <div class="modal-background" (click)="toggleBillModal()"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Add Patient Bill</p>
            <button class="delete" aria-label="close" (click)="toggleBillModal()"></button>
        </header>
        <section class="modal-card-body">
            <!-- Content ... -->
            here is modal body For Add Bill
            <!-- content ends -->
        </section>
        <footer class="modal-card-foot">
            <button class="button is-success" type="submit" (click)="addBill()">Save Details</button>
            <button class="button" (click)="toggleBillModal()">Cancel</button>
        </footer>
    </div>
</div>
<!-- edit patient modal ends  -->


