<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
<div class="row">
    <div class="columns">
        <div class="column is-5">

            <article class="panel">
                <p class="panel-heading">
                    Medicines And Other Stock
                </p>
                <br>
                <div class="panel-block">
                    <div class="column ">
                        <p class="control has-icons-left">
                            <input class="input is-info" type="search"
                                placeholder="Search {{searchMedicineByName? 'Medicine By Name':(searchOtherStock?'Other Stock':'Medicine By Formula')}}"
                                [(ngModel)]=searchField>
                            <span class="icon is-left">
                                <i class="ri-search-2-line" aria-hidden="true"></i>
                            </span>
                        </p>
                    </div>
                    <div class="column ">
                        <div class="columns">
                            <div class="column">
                                <div class="dropdown is-hoverable ">
                                    <div class="dropdown-trigger">
                                        <button class="button" aria-haspopup="true">
                                            <span>Search By </span>
                                            <span class="icon is-small">
                                                <i class="ri-arrow-drop-down-line" aria-hidden="true"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <div class="dropdown-menu " id="dropdown-menu" role="menu">
                                        <div class="dropdown-content" style="width: fit-content;">
                                            <div class="dropdown-item">
                                                <a (click)="searchBy(1)">Medicine's Name</a>
                                            </div>
                                            <div class="dropdown-item">
                                                <a (click)="searchBy(2)">Medicine's Formula</a>
                                            </div>
                                            <div class="dropdown-item">
                                                <a (click)="searchBy(3)">Other Stock</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="column">
                                <div class="dropdown is-hoverable is-warning">
                                    <div class="dropdown-trigger">
                                        <button class="button is-info" aria-haspopup="true">
                                            <span>Add New Stock</span>
                                            <span class="icon is-small">
                                                <i class="ri-arrow-drop-down-line" aria-hidden="true"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                        <div class="dropdown-content" style="width: fit-content;">
                                            <div class="dropdown-item">
                                                <a (click)="addMedicineStock()">Medicine Stock</a>
                                            </div>
                                            <div class="dropdown-item">
                                                <a (click)="addOtherStock()">Other Stock</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="panel-block" *ngIf="searchMedicineByName">

                    <table class="table is-hoverable is-fullwidth">
                        <thead>
                            <tr>
                                <th>Medicine's Name</th>
                                <th>Price Per Piece</th>
                                <th>Stock Left</th>
                                <th>Medicine's Formula</th>
                                <th>Modify Stock</th>
                            </tr>
                        </thead>

                        <tbody>

                            <tr *ngFor="let medicine of medicines|filter : searchField:1" style="cursor: copy; "
                                (click)="addMedicineToReceipt(medicine)">
                                <td>{{medicine.name}}</td>
                                <td>{{medicine.pricePerPiece}}</td>
                                <td>{{medicine.stockLeft}}</td>
                                <td>{{medicine.formula}}</td>
                                <td><button class="button">Modify</button></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="panel-block" *ngIf="searchOtherStock">

                    <table class="table is-hoverable is-fullwidth ">
                        <thead>
                            <tr>
                                <th>Stock's Name</th>
                                <th>Price Per Piece</th>
                                <th>Stock Left</th>
                                <th>Property</th>
                                <th>Modify Stock</th>
                            </tr>
                        </thead>

                        <tbody>

                            <tr *ngFor="let otherStock of otherStocks|filter : searchField : 1" style="cursor: copy;"
                                (click)="addStockToReceipt(otherStock)">
                                <td>{{otherStock.name}}</td>
                                <td>{{otherStock.pricePerPiece}}</td>
                                <td>{{otherStock.stockLeft}}</td>
                                <td>{{otherStock.formula}}</td>
                                <td><button class="button">Modify</button></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="panel-block" *ngIf="searchMedicineByFormula">

                    <table class="table is-hoverable is-fullwidth">
                        <thead>
                            <tr>
                                <th>Medicine's Name</th>
                                <th>Price Per Piece</th>
                                <th>Stock Left</th>
                                <th>Medicine's Formula</th>
                                <th>Modify Stock</th>
                            </tr>
                        </thead>

                        <tbody>

                            <tr *ngFor="let medicine of medicines|filter : searchField : 3" style="cursor: copy; "
                                (click)="addMedicineToReceipt(medicine)">
                                <td>{{medicine.name}}</td>
                                <td>{{medicine.pricePerPiece}}</td>
                                <td>{{medicine.stockLeft}}</td>
                                <td>{{medicine.formula}}</td>
                                <td><button class="button">Modify</button></td>
                            </tr>

                        </tbody>
                    </table>
                </div>

            </article>



        </div>
        <div class="column is-7">
            <app-receipt></app-receipt>

        </div>
    </div>
</div>