<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

<p>occupy this space with report notification</p>

<hr>
<hr>
<div class="section-color" style="background-color: #6678be; color: white">
    <div class="rows">
        
        <div class="columns">
            <div class="column has-text-centered" style="cursor: pointer;padding-left: 8%;padding-right: 4%;"
                data-aos="fade-in" data-aos-easing="linear" (click)="navigatePatient()">
                
                <i class="ri-wheelchair-line ri-5x"></i>
                <hr />
                <h2>
                    Patients
                </h2>
            </div>
            <div class="column  has-text-centered" style="cursor: pointer;padding-left: 4%;padding-right: 4%;" data-aos="fade-in"
                data-aos-easing="linear" (click)="navigateDoctors()">
                <i class="ri-nurse-line ri-5x"></i>
                <hr />
                <h2>
                    Doctors
                </h2>
            </div>
            <div class="column  has-text-centered" style="cursor: pointer;padding-left: 4%;padding-right: 8%;" data-aos="fade-in"
                data-aos-easing="linear" (click)="navigateStaff()">
                <i class="ri-user-search-line ri-5x"></i>
                <hr />
                <h2>
                    Staff
                </h2>
            </div>

        </div>
        <div class="columns">

            <div class="column  has-text-centered" style="cursor: pointer;padding-left: 8%;padding-right: 4%; " data-aos="fade-in"
                data-aos-easing="linear" (click)="navigateReport()">
                <i class="ri-file-list-2-line ri-5x"></i>
                <hr />
                <h2>
                    Report
                </h2>
            </div>
            <div class="column  has-text-centered" style="cursor: pointer;padding-left: 4%;padding-right: 4%;" data-aos="fade-in"
                data-aos-easing="linear" (click)="navigateFacility()">
                <i class="ri-building-4-line ri-5x"></i>
                <hr />
                <h2>
                    Facility
                </h2>
            </div>
            <div class="column  has-text-centered" style="cursor: pointer;padding-left: 4%;padding-right: 8%;" data-aos="fade-in"
                data-aos-easing="linear" (click)="navigateLaboratory()">
                <i class="ri-home-smile-line ri-5x"></i>
                <hr />
                <h2>
                    Laboratory
                </h2>
            </div>
        </div>
    </div>
</div>