<div class="row">
    <div class="columns">
        <div class="column is-half">
            <article class="panel is-success">
                <p class="panel-heading">
                    Doctors 
                </p>
                <br>

                <div class="panel-block">
                    <div class="rows">
                        <div class="row">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Pos</th>
                                        <th> Doctor's Name</th>
                                        <th>Gender</th>
                                        <th>Age</th>
                                        <th>Speciality</th>
                                        <th>Qualification</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>1</th>
                                        <td><a> Random Name(43)</a></td>
                                        <td>male</td>
                                        <td>ramdom disease </td>
                                        <td>female</td>
                                        <td>female</td>
                                    </tr>
                                    <tr>
                                        <th>1</th>
                                        <td><a> Random Name(43)</a></td>
                                        <td>male</td>
                                        <td>ramdom disease </td>
                                        <td>female</td>
                                        <td>female</td>
                                    </tr>
                                    <tr>
                                        <th>1</th>
                                        <td><a> Random Name(43)</a></td>
                                        <td>male</td>
                                        <td>ramdom disease </td>
                                        <td>female</td>
                                        <td>female</td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                        <hr>
                        <div class="row">
                            <nav class="pagination" role="navigation" aria-label="pagination">
                                <a class="pagination-previous">Previous</a>
                                <a class="pagination-next">Next page</a>
                                <ul class="pagination-list">
                                    <li>
                                        <a class="pagination-link" aria-label="Goto page 1">1</a>
                                    </li>
                                    <li>
                                        <span class="pagination-ellipsis">&hellip;</span>
                                    </li>
                                    <li>
                                        <a class="pagination-link" aria-label="Goto page 45">45</a>
                                    </li>
                                    <li>
                                        <a class="pagination-link is-current" aria-label="Page 46"
                                            aria-current="page">46</a>
                                    </li>
                                    <li>
                                        <a class="pagination-link" aria-label="Goto page 47">47</a>
                                    </li>
                                    <li>
                                        <span class="pagination-ellipsis">&hellip;</span>
                                    </li>
                                    <li>
                                        <a class="pagination-link" aria-label="Goto page 86">86</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>


                </div>


            </article>
        </div>
        <div class="column">
            <app-doctor></app-doctor>
        </div>
    </div>
</div>
